@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --background--primary: rgb(12, 179, 29);
  --background--secondary: rgb(255, 178, 0);
}

body {
  color: rgb(var(--foreground));
  background: var(--background)
}

.bg-primary {
  background: var(--background--primary);
}

.transform.translate-x-0 {
  transform: translateX(0);
}

.transform.translate-x-100 {
  transform: translateX(100%);
}